{% extends "base.html" %}

{% block title %}Equipos formados para el próximo partido{% endblock %}

{% block content %}
	<p>
		<table border="1">
  			<tr>
    			<th>Equipo Rojo</th>
    			<th>Equipo Azul</th>
  			</tr>
  			<tr>
    			<td>{{ equipo1.0 }}</td>
    			<td>{{ equipo2.0 }}</td>
		  	</tr>
  			<tr>
    			<td>{{ equipo1.1 }}</td>
    			<td>{{ equipo2.1 }}</td>
  			</tr>
  			<tr>
    			<td>{{ equipo1.2 }}</td>
    			<td>{{ equipo2.2 }}</td>
  			</tr>
  			<tr>
    			<td>{{ equipo1.3 }}</td>
    			<td>{{ equipo2.3 }}</td>
  			</tr>
  			<tr>
    			<td>{{ equipo1.4 }}</td>
    			<td>{{ equipo2.4 }}</td>
  			</tr>
  			<tr>
    			<td>{{ equipo1.5 }}</td>
    			<td>{{ equipo2.5 }}</td>
  			</tr>
  			<tr>
    			<td>{{ equipo1.6 }}</td>
    			<td>{{ equipo2.6 }}</td>
  			</tr>
  			<tr>
    			<td>{{ equipo1.7 }}</td>
    			<td>{{ equipo2.7 }}</td>
  			</tr>
  			<tr>
    			<td>{{ equipo1.8 }}</td>
    			<td>{{ equipo2.8 }}</td>
  			</tr>
  			<tr>
    			<td>{{ equipo1.9 }}</td>
    			<td>{{ equipo2.9 }}</td>
  			</tr>
		</table>
	</p>
{% endblock %}
